In [15]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [17]:
data=pd.read_csv("Dataset.csv")
data.head()

         Date      Open      High       Low     Close  Adj_Close     Volume
0  27-03-2000       NaN  4.156250  3.812500  4.125000   4.125000  3675600.0
1  28-03-2000  4.125000  4.125000  4.000000  4.015625   4.015625  1077600.0
2  29-03-2000  4.000000  4.031250  3.953125  4.000000   4.000000   437200.0
3  30-03-2000  4.000000       NaN  3.843750  3.843750   3.843750  1883600.0
4  31-03-2000  3.734375  3.734375  3.390625  3.390625   3.390625        NaN

In [18]:
data.isnull().sum()

Date         0
Open         6
High         5
Low          6
Close        5
Adj_Close    5
Volume       7
dtype: int64

In [19]:
data.drop("Date",axis=1,inplace=True)
data.head()

       Open      High       Low     Close  Adj_Close     Volume
0       NaN  4.156250  3.812500  4.125000   4.125000  3675600.0
1  4.125000  4.125000  4.000000  4.015625   4.015625  1077600.0
2  4.000000  4.031250  3.953125  4.000000   4.000000   437200.0
3  4.000000       NaN  3.843750  3.843750   3.843750  1883600.0
4  3.734375  3.734375  3.390625  3.390625   3.390625        NaN

In [20]:
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer=imputer.fit(data.iloc[:,1:])
data.iloc[:,1:]=imputer.transform(data.iloc[:,1:])
data.head()

       Open       High       Low     Close  Adj_Close        Volume
0       NaN   4.156250  3.812500  4.125000   4.125000  3.675600e+06
1  4.125000   4.125000  4.000000  4.015625   4.015625  1.077600e+06
2  4.000000   4.031250  3.953125  4.000000   4.000000  4.372000e+05
3  4.000000  30.920827  3.843750  3.843750   3.843750  1.883600e+06
4  3.734375   3.734375  3.390625  3.390625   3.390625  1.881261e+06

In [21]:
data.isnull().sum()

Open         6
High         0
Low          0
Close        0
Adj_Close    0
Volume       0
dtype: int64

In [22]:
scaler=StandardScaler()
data=scaler.fit_transform(data.iloc[:,1:])
data

array([[-0.886342  , -0.89367216, -0.88581601, -0.88549862,  1.1090712 ],
       [-0.88737688, -0.88733757, -0.88947529, -0.88915767, -0.49673808],
       [-0.89048153, -0.88892122, -0.88999805, -0.88968039, -0.89256574],
       ...,
       [ 2.70126378,  2.70226785,  2.73097675,  2.73106023,  0.15788571],
       [ 2.71484157,  2.76139077,  2.73465671,  2.73473995, -0.38918965],
       [ 2.77743122,  2.76172868,  2.76309476,  2.76317616, -0.16661385]])